.image-box {
  position: relative;

  img {
    border-radius: 5px;
  }

  .btn-box {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 93%;
  }
}
  