@import '../../styles/main.scss';

.navigation {
    background-color: $dark-gray-color;
    color:  $white-color;
    position: sticky;
    top: 15px;
    z-index: 10;
    padding: 1rem 0;
    border-radius: 30px;

    .nav-item {
        &:hover {
            cursor: pointer;
        }
    }

    .active-nav-item {
        color: $primary-color;
    }
}
  