@import './tailwind.scss';
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

// Fonts
$michroma-font: 'Michroma', sans-serif;
$roboto-font: 'Roboto', sans-serif;

// Colors
$primary-color: #04ab73;
$secondary-color: #b6b6b6;
$white-color: #ffffff;
$dark-green-color:  #018659;
$dark-gray-color: #1a1a1a;
$gray-color: #454545;

//Typography
.main-title {
  font-family: $michroma-font;
  font-size: calc(1.5vw + 1.6rem);
  color: $white-color;

  span {
    color: $primary-color;
  }
}

.title {
  font-family: $michroma-font;
  color: $white-color;

  &.title-medium {
    font-size: calc(0.4vw + 1.1rem);
  }

  &.title-small {
    font-size: calc(0.3vw + 0.8rem);
  }
}

.text {
  font-family: $roboto-font;
  color: $secondary-color;

  &.text-medium {
    font-size: calc(0.3vw + 1.1rem);
  }

  &.text-small {
    font-size: calc(0.3vw + 0.9rem);
  }

  &.text-extra-small {
    font-size: calc(0.2vw + 0.8rem);
  }

  &.text-green {
    color: $primary-color;
  }
}